# dependencies
node_modules/

# build output
dist/
.vite/

# environment
.env

# logs
npm-debug.log*
yarn-debug.log*

# OS files
.DS_Store
Thumbs.db

# media (VERY IMPORTANT for your case)
*.psd
*.mp4
*.mp3
*.mov
*.wav
*.ai
*.zip

# large assets folders
Updated/
assets/raw/